<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2018 Modoolar <info@modoolar.com>
  License LGPLv3.0 or later (https://www.gnu.org/licenses/lgpl-3.0.en.html).
-->
<odoo>
    <menuitem name="Vault" id="menu_root"
              web_icon="encrypted_vault,static/description/icon.png"/>
    <menuitem name="Vaults" id="encrypted_vault" parent="menu_root"
              action="action_encrypted_vault"/>
    <menuitem id="encrypted_vault_config_settings_menu_action" name="Configuration" parent="menu_root"
              sequence="99" action="encrypted_vault_config_settings_action" groups="base.group_system"/>
</odoo>
