$o-brand-odoo: #243742;
$o-brand-primary: #00005a;

$af-required-color: #d1dfe6;

$af-apps-color: #f8f9fa;

$af-appbar-color: white;
$af-appbar-background: #00005a;

$af-brand-gradient-start: lighten($o-brand-odoo, 10%);
$af-brand-gradient-end: lighten($o-brand-odoo, 20%);

