//----------------------------------------------------------
// Helper
//----------------------------------------------------------

$af-brand-gradient: linear-gradient(to right bottom, $af-brand-gradient-start, $af-brand-gradient-end);

//----------------------------------------------------------
// Web Client
//----------------------------------------------------------

.o_web_client {
	.o_main .o_main_content {
	    @include media-breakpoint-down(sm) {
	        overflow: auto;
	        .o_content {
	            overflow: initial;
	        }
	    }
	}
	.o_loading {
	    position: fixed;
	    right: 0;
	    bottom: 0;
	    color: white;
	    padding: 5px;
	    opacity: 0.8;
	    z-index: 1052;
	    border-radius: 0;
	    background-color: $o-brand-odoo;
	}
}

.oe_wait {
 	cursor: progress;
}

//----------------------------------------------------------
// Views
//----------------------------------------------------------

.o_content, .modal-content {
    max-width: 100%;
}

//----------------------------------------------------------
// Tooltips
//----------------------------------------------------------

.o_tooltip {
  &.o_animated {
    display: none;
  }
}
