.o_modal_header {
	.o_searchview, .o_pager {
		display: inline-block;
	}
	.o_searchview {
		padding: 0;
		border: none;
		width: 100%;
	    margin-bottom: 5px;
	    border-bottom: 1px solid $o-brand-secondary;
		button {
    		background-color: $white;
			border-color: $border-color;
			color: $gray-600;
		}
	}
}

@include media-breakpoint-between(sm, lg, $o-extra-grid-breakpoints) {
	.o_search_options {
		.af_dropdown_text {
			display: none;
		}
	}
}