@include media-breakpoint-down(sm) {
	.o_base_settings .o_statusbar_buttons {
		.btn {
			width: auto !important;
		   	border: solid 1px transparent; 
			margin: 4px 3px 4px 0 !important;
		   	padding: $btn-padding-y-sm $btn-padding-x-sm !important;
		}
		.btn-primary {
			border-color: $o-brand-primary;
		}
		.btn-secondary {
			border-color: $border-color;
		}
	}	
}	